

*   Filipe Oliveira do Vale Ribeiro
*   Matrícula: 170103102
*   Computação em Estatística 2

In [1]:
import random

def escolhe(matricula):
    random.seed(matricula)
    cap1 = (2,8,9,11,12,15,16,18,20,21,22,24,26,27,28,30,31,32)    
    cap2 = (36,40,44,45,46,48,50,51,53,55,56,57,59,60)
    cap3 = (63,64,65,68,71,72,74,76,78,80,81,84)
    cap4 = (85,86,87,89,91,92,94,97,99,101,103,104,106)
    cap5 = (111,115,117,118,119,122,123,124,126,127,131,132,133)
    cap6 = (138,139,140,141,144,147,148)
    cap7 = (152,153,154,155,157,160,161,164,165,166,168,171,172)
    cap8 = (174,175,176,177,179,181,182,185)
    return(random.sample(cap8, k=2))

print("Você deverá entregar os exercícios: ", escolhe(input("Escreva o número de sua matricula")))

Escreva o número de sua matricula170103102
Você deverá entregar os exercícios:  [174, 182]



*   Questão 174)

In [31]:
def mdc(a,b):
  maior = max(a,b)
  menor = min(a,b)
  c = maior % menor 
  if c == 0:
    print("O mdc é: ",menor)
  else :
    return mdc(menor,c)
mdc(int(input("1º Número:")),int(input("2º Número:")))

1º Número:4
2º Número:6
O mdc é:  2



*   Questão 182)

In [50]:
def escreve_simb(string, symbols, spell=''):
    string = string.lower()
    if not string:
        return spell
    for sym in symbols:
        if string[:len(sym)] == sym.lower():
            spell+=sym
            break
    else:
         return ''
    
    return escreve_simb(string[len(sym):], symbols, spell)

with open("elements.txt", "r") as f:
    elementos = dict(linha.rstrip().split(',')[1:] for linha in f)
    simbolos = elementos.keys()

for elemento in elementos.values():
    conv = escreve_simb(elemento, simbolos)
    if conv:
        print(f"{elemento} pode ser escrito como {conv}.")

Carbon pode ser escrito como CArBON.
Silicon pode ser escrito como SiLiCON.
Phosphorus pode ser escrito como PHOSPHORuS.
Copper pode ser escrito como COPPEr.
Silver pode ser escrito como SiLvEr.
Tin pode ser escrito como TiN.
Xenon pode ser escrito como XeNON.



*   Questão 175)

In [16]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')
   
 
binary(int(input("Entre um inteiro: ")))

Entre um inteiro: 4
100



*   Questão 176

In [30]:

def nato_alphabet(string):
    string = string.upper()
    nato = {'A':'Alpha', 'B':'Bravo','C':'Charlie', 'D':'Delta', 'E':'Echo', 'F':'Foxtrot', 
            'G':'Golf',"H":"Hotel", 'I':'India', 'J':'Juliet', 'K':'Kilo', 'L':'Lima', 
            'M':'Mike', 'N':'November', 'O':'Oscar', 'P':'Papa', 'Q':'Quebec',
            'R':'Romeo', 'S':'Sierra', 'T':'Tango', 'U':'Uniform', 'V':'Victor', 
            'W':'Whiskey', 'X':'Xray', 'Y':'Yankee', 'Z':'Zulu'}
    if len(string) == 0:
        return ''
    return nato[string[0]] + ' ' + nato_alphabet(string[1:])


print(nato_alphabet(input('Insira uma palavra: ')))

Insira uma palavra: abcd
Alpha Bravo Charlie Delta



*   Questão 179)

In [44]:
def raiz(n, suposicao=1.0):
    if abs(suposicao * suposicao - n) < 1e-12:
        return suposicao
    return raiz(n, (suposicao + n/suposicao)/2)

print(raiz(4))
print(raiz(9))
print(raiz(16))

2.000000000000002
3.0
4.000000000000051

In [ ]:
%%shell
jupyter nbconvert --to html /content/LISTA_8_CE2.ipynb